.partylink {
  width: 100%;
  background-color: rgba(95, 109, 132, 0.8);
  border: 2px solid black;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: none;

  &:last-child {
    border-bottom: 2px solid black;
  }

  .joinbutton {
    flex: 2;
  }

  .partyname {
    padding-left: 15px;
    flex: 3;
  }

  .partyentries {
    flex: 5;

    ul {
      display: flex;
      flex: row nowrap;
      list-style-type: none;

      li {
        position: relative;
        background-color: antiquewhite;
        width: 30px;
        cursor: default;
        margin-right: 5px;
        border: 2px solid white;
        border-radius: 10px;

        &:hover:after{
          background: #333;
          background: rgba(0,0,0,1);
          border-radius: 5px;
          bottom: 26px;
          color: #fff;
          content: attr(title);
          left: 20%;
          padding: 5px 15px;
          position: absolute;
          z-index: 98;
        }

        &:hover:before{
          border: solid;
          border-color: #333 transparent;
          border-width: 6px 6px 0 6px;
          bottom: 20px;
          content: "";
          left: 50%;
          position: absolute;
          z-index: 99;
        }
      }
    }
  }
}